* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding:0;
  margin:0;
  background-color: black !important;
}

a {
  text-decoration: none;
  color: #000;
}

.card {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 450px;
  margin: 50px auto;
  background: #2a264f;
  border: 5px solid #1a163f;
  border-radius: 3px;
  box-shadow: 0 0 10px #2a264f;
  
}

.card .img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-size: 310px 440px;
  background-position: left top;
  transition: all 0.5s ease-in-out;
}

.card .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-size: 310px 440px;
  background-position: left bottom;
  transition: all 0.5s ease-in-out;
}

.card .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #FFFC;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #000 inset;
}

.card .description {
  position: absolute;
  bottom: 80px;
  height: 120px;
  padding: 15px 10px;
  text-align: center;
  font-size: 15px;
  color: black;
  transform: rotate(90deg);
  transform-origin: 0 100px;
  opacity: 0;
  transition: all 0.5s ease;
}

.card .catagory {
  position: absolute;
  left: 10px;
  top: 140px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #2a264f;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease;
}

.card .rating {
  position: absolute;
  left: 10px;
  top: 175px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #8b2463;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease 0.15s;
}

.card:hover .img1 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5;
}

.card:hover .img2 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px;
}

.card:hover .description {
  opacity: 0.8;
  transform: rotate(0deg);
}

.card:hover .rating,
.card:hover .catagory {
  transform: translate(0);
}
.card:hover .title{
  transform:translateY(80px);
}
 .MovieList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
} 
.Nav{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  color:white;
  background-color: #130f40;
  height: 80px;
  
}
.btn-add{
 margin-top: 25px;
 margin-right: 50px;
 width:50px;
 background-color: transparent !important;
 border: 1px solid #d140ad !important;
}
.btn-add:hover{
  background-color:#d140ad !important;
}
.search{
  background-color: transparent;
  border: 1px solid #d140ad;
  border-radius: 5px ;
  height: 35px;
  width:50%;
  margin-top:25px;
  margin-left:30%;
}
.head{
  position:sticky;
  width:100%;

}
.RATE{
  width: 40%;
  height: 60px;
  margin-top: 28px;
}
.description-page{
  width:45%;
  /* background-color: white; */
  margin-left:28%;
  padding:20px;
  
}
.desc{
  text-align: center;
  size: 20px;
  color:white;
}
.backHome{
  margin-left:40%;
  border: 1px solid #d140ad;
  background-color: transparent;
  color:white;
  border-radius: 5px;
  padding: 10px;
}
.backHome:hover{
  background-color: #d140ad;
  
}





